body {
    background-image: url("../images/bus2.jpg.jpg");
    background-size: cover;
}
h2{
    margin-top: 100px;
    text-align: center;
    color:coral;
    font-size: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 20px 0px;
    background-color: #f2f2f2;
    text-align: center;
}
.box{
    font-size: 15px;
    padding: 5px;
    border: none;
    background-color:skyblue;
}
a{
    text-decoration: none;
    color: white;
}

