body{
    background-image: url(../images/bus2.jpg.jpg);
    background-size: cover;
}
h3{
    color:white;
    font-size: 30px;
}
.seat {
    display: inline-block;
    margin: 10px;
}

.seat-button {
    background: #ddd; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.seat-button:hover {
    background-color:green;
}

.seat-button.selected {
    background: #007bff;
    color: white;
}
p{
    color: white;
    font-size: 25px;
}
.speed{
    color:#608ad2;
}






